@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 20%;
    min-width: 300px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 300px;
}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3em;

}

h2,h3 {
    font-family: 'Cinzel', serif;
}

main {
    display: flex;
    flex-direction: row;
    
}

.chunks {
    margin: 20px;
    border: 2px solid grey;
    padding: 10px;
    width: 75%;
}

#playerform,
#teamform {
    display: flex;
    flex-direction: column;
}

.newplayer,
#team,
input {
    margin-top: 4px;
    width: 200px;
}

.tabchart {
    margin-left: 50px;
}

td {
    min-width: 100px;
}

th {
    text-align: left;
}
 

/***********************BUTTONS***********************/
#addPlayer,
#createTeam,
#saveRound {
    margin: 8px 0;
    background-color: lightgreen;
    width: 200px;
}

#start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    height: 100px;
    width: 200px;
}